#gallery {
    display: flex;
    list-style: none;
    
  }
#gallery > li {
    margin-right: 10px;
}
#validation-input.valid {
  outline: 3px solid #4caf50;
}

#validation-input.invalid {
  outline: 3px solid #f44336;
}